DATABASE_URL="postgresql://postgres:postgres@localhost:5432/izticket?schema=public"
DIRECT_URL=""

PORT="3000"
NODE_ENV="development"
CORS_ORIGIN="http://localhost:5173"

JWT_SECRET="replace-with-at-least-32-characters"
JWT_ACCESS_TOKEN_EXPIRES_IN="15m"
JWT_REFRESH_TOKEN_EXPIRES_IN="7d"
JWT_ISSUER="izticket-api"
JWT_AUDIENCE="izticket-web"
